## import python module

In [197]:
import pandas as pd
import ast
import numpy as np

## read csv

In [198]:
year_lst = [13,14,15,16,17]

In [199]:
data_lst = []

for i in year_lst:
    tmp = pd.read_csv('../tocsv/hn20{:02d}.csv'.format(i))
    data_lst.append(tmp)

In [200]:
data_lst_save = data_lst[:]

In [201]:
data_lst = data_lst_save[:]

# CASE 0: 6,7기 통합 전처리

1-1. region 처리
 * 7기 기준으로 지역별 숫자 맞춰주기
 * float -> int -> str

In [202]:
for i in range(3):
    data_lst[i]['region'] = np.where(data_lst[i]['region'] >= 8.0, data_lst[i]['region'] + 1, data_lst[i]['region'])
    data_lst[i]['region'] = data_lst[i]['region'].astype(int).astype(str)

1-2. 기본변수 내 7기와 동일하지 않은 의미를 가진/혹은 존재하지 않는 가중치 삭제
* column_1_6y: 6,7기 모두 존재하지만 동일하지 않은 의미를 지닌 가중치 + kstrata
* column_1_6n: 6기에 존재하지 않는 가중치

In [203]:
column_1_6y = ['wt_ex1','wt_ex1nt','wt_ex1hm','wt_ex1pf','wt_ex1pfnt','wt_ex1hmnt','kstrata']
column_1_6n = ['wt_nn','wt_ntr','wt_nnnt','wt_tot1','wt_tot1nt']

In [204]:
for i in range(len(data_lst)):
    print(i)
    
    for k in range(len(column_1_6y)):
        try:
            data_lst[i].drop(column_1_6y[k], axis=1, inplace=True)
        except:
            continue
    
    if i >= 3:
        for m in range(len(column_1_6n)):
            try:
                data_lst[i].drop(column_1_6n[m], axis=1, inplace=True)
            except:
                continue

0
1
2
3
4

1-3. 6,7기 내 모든 가중치 삭제(wt가 포함된 열 명)

In [205]:
for i in range(len(data_lst)):
    ctmp = list(data_lst[i].columns)
    col = []
    for k in range(len(ctmp)):
        if 'wt' in ctmp[k]:
            col.append(ctmp[k])
    data_lst[i].drop(col, axis=1, inplace=True)

1-4. ID_F, ID_M 대문자로 맞춰주기

In [242]:
for i in range(1,5):
    data_lst[i].rename(columns={'id_f': 'ID_F', 'id_m': 'ID_M'}, inplace=True)

2-1. 골다공증  
* DM4_dg, DM4_ag, DM4_pr, DM4_pt 제거(2013~2014는 존재하지 않음)

In [206]:
dm4_column = ['DM4_dg','DM4_ag','DM4_pr','DM4_pt']

In [207]:
for i in range(2,5):
    data_lst[i].drop(dm4_column, axis=1, inplace=True)

2-2. 무릎관절통
* 6기에만 존재하는 변수 삭제
* D_8_1, D_8_1_s, D_8_2, D_8_2_t, D_8_3, D_8_3_s, D_8_4, OA_H_scale, OA_K_scale, OA_L_scale, OA_KH, OA_K, OA_H

In [208]:
D8O_column = ['D_8_1', 'D_8_1_s', 'D_8_2', 'D_8_2_t', 'D_8_3', 'D_8_3_s',
              'D_8_4', 'OA_H_scale', 'OA_K_scale', 'OA_L_scale', 
              'OA_KH', 'OA_K', 'OA_H']

In [209]:
for i in range(len(data_lst)):
    print(i)
    
    for k in range(len(D8O_column)):
        try:
            data_lst[i].drop(D8O_column[k], axis=1, inplace=True)
        except:
            continue

0
1
2
3
4

In [260]:
for i in range(5):
    print(i, list(data_lst[i].columns)[:108])
    print()

0 ['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'cfam', 'genertn', 'allownc', 'house', 'live_t', 'ainc_unit1', 'ainc_1', 'ainc', 'marri_1', 'marri_2', 'fam_rela', 'tins', 'npins', 'ID_F', 'ID_M', 'D_1_1', 'D_2_1', 'D_2_wk', 'DI1_dg', 'DI1_ag', 'DI1_pr', 'DI1_pt', 'DI1_2', 'DI2_dg', 'DI2_ag', 'DI2_pr', 'DI2_pt', 'DI2_2', 'DI3_dg', 'DI3_ag', 'DI3_pr', 'DI3_pt', 'DI3_2', 'DI4_dg', 'DI4_pr', 'DI4_pt', 'DI5_dg', 'DI5_ag', 'DI5_pr', 'DI5_pt', 'DI6_dg', 'DI6_ag', 'DI6_pr', 'DI6_pt', 'DM1_dg', 'DM1_pr', 'DM1_pt', 'DM2_dg', 'DM2_ag', 'DM2_pr', 'DM2_pt', 'DM3_dg', 'DM3_ag', 'DM3_pr', 'DM3_pt', 'DJ2_dg', 'DJ2_ag', 'DJ2_pr', 'DJ2_pt', 'DJ4_dg', 'DJ4_ag', 'DJ4_pr', 'DJ4_pt', 'DJ4_3', 'DE1_dg', 'DE1_ag', 'DE1_pr', 'DE1_pt', 'DE1_3', 'DE1_31', 'DE1_32', 'DE1_33', 'DE1_34', 'DE1_35', 'DE1_4', 'DE2_dg', 'DE2_ag', 'DE2_pr', 'DE2_pt', 'DC1_dg', 'DC1_ag', 'DC1_pr', 'DC1_pt', 'DC2_dg', 'DC2_ag', 'DC2_pr', 'DC2_pt', 'DC3_dg', 'DC3_ag', 'DC3_pr', 'DC3_pt']

1 ['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'cfam', 'genertn', 'allownc', 'house', 'live_t', 'ainc_unit1', 'ainc_1', 'ainc', 'marri_1', 'marri_2', 'fam_rela', 'tins', 'npins', 'ID_F', 'ID_M', 'D_1_1', 'D_2_1', 'D_2_wk', 'DI1_dg', 'DI1_ag', 'DI1_pr', 'DI1_pt', 'DI1_2', 'DI2_dg', 'DI2_ag', 'DI2_pr', 'DI2_pt', 'DI2_2', 'DI3_dg', 'DI3_ag', 'DI3_pr', 'DI3_pt', 'DI3_2', 'DI4_dg', 'DI4_pr', 'DI4_pt', 'DI5_dg', 'DI5_ag', 'DI5_pr', 'DI5_pt', 'DI6_dg', 'DI6_ag', 'DI6_pr', 'DI6_pt', 'DM1_dg', 'DM1_pr', 'DM1_pt', 'DM2_dg', 'DM2_ag', 'DM2_pr', 'DM2_pt', 'DM3_dg', 'DM3_ag', 'DM3_pr', 'DM3_pt', 'DJ2_dg', 'DJ2_ag', 'DJ2_pr', 'DJ2_pt', 'DJ4_dg', 'DJ4_ag', 'DJ4_pr', 'DJ4_pt', 'DJ4_3', 'DE1_dg', 'DE1_ag', 'DE1_pr', 'DE1_pt', 'DE1_3', 'DE1_31', 'DE1_32', 'DE1_33', 'DE1_34', 'DE1_35', 'DE1_4', 'DE2_dg', 'DE2_ag', 'DE2_pr', 'DE2_pt', 'DC1_dg', 'DC1_ag', 'DC1_pr', 'DC1_pt', 'DC2_dg', 'DC2_ag', 'DC2_pr', 'DC2_pt', 'DC3_dg', 'DC3_ag', 'DC3_pr', 'DC3_pt']

2 ['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'cfam', 'genertn', 'allownc', 'house', 'live_t', 'ainc_unit1', 'ainc_1', 'ainc', 'marri_1', 'marri_2', 'fam_rela', 'tins', 'npins', 'ID_F', 'ID_M', 'D_1_1', 'D_2_1', 'D_2_wk', 'DI1_dg', 'DI1_ag', 'DI1_pr', 'DI1_pt', 'DI1_2', 'DI2_dg', 'DI2_ag', 'DI2_pr', 'DI2_pt', 'DI2_2', 'DI3_dg', 'DI3_ag', 'DI3_pr', 'DI3_pt', 'DI3_2', 'DI4_dg', 'DI4_pr', 'DI4_pt', 'DI5_dg', 'DI5_ag', 'DI5_pr', 'DI5_pt', 'DI6_dg', 'DI6_ag', 'DI6_pr', 'DI6_pt', 'DM1_dg', 'DM1_pr', 'DM1_pt', 'DM2_dg', 'DM2_ag', 'DM2_pr', 'DM2_pt', 'DM3_dg', 'DM3_ag', 'DM3_pr', 'DM3_pt', 'DJ2_dg', 'DJ2_ag', 'DJ2_pr', 'DJ2_pt', 'DJ4_dg', 'DJ4_ag', 'DJ4_pr', 'DJ4_pt', 'DJ4_3', 'DE1_dg', 'DE1_ag', 'DE1_pr', 'DE1_pt', 'DE1_3', 'DE1_31', 'DE1_32', 'DE1_33', 'DE1_34', 'DE1_35', 'DE1_4', 'DE2_dg', 'DE2_ag', 'DE2_pr', 'DE2_pt', 'DC1_dg', 'DC1_ag', 'DC1_pr', 'DC1_pt', 'DC2_dg', 'DC2_ag', 'DC2_pr', 'DC2_pt', 'DC3_dg', 'DC3_ag', 'DC3_pr', 'DC3_pt']

3 ['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'cfam', 'genertn', 'allownc', 'house', 'live_t', 'ainc_unit1', 'ainc_1', 'ainc', 'marri_1', 'marri_2', 'fam_rela', 'tins', 'npins', 'ID_F', 'ID_M', 'D_1_1', 'D_2_1', 'D_2_wk', 'DI1_dg', 'DI1_ag', 'DI1_pr', 'DI1_pt', 'DI1_2', 'DI2_dg', 'DI2_ag', 'DI2_pr', 'DI2_pt', 'DI2_2', 'DI3_dg', 'DI3_ag', 'DI3_pr', 'DI3_pt', 'DI3_2', 'DI4_dg', 'DI4_pr', 'DI4_pt', 'DI5_dg', 'DI5_ag', 'DI5_pr', 'DI5_pt', 'DI6_dg', 'DI6_ag', 'DI6_pr', 'DI6_pt', 'DM1_dg', 'DM1_pr', 'DM1_pt', 'DM2_dg', 'DM2_ag', 'DM2_pr', 'DM2_pt', 'DM3_dg', 'DM3_ag', 'DM3_pr', 'DM3_pt', 'DJ2_dg', 'DJ2_ag', 'DJ2_pr', 'DJ2_pt', 'DJ4_dg', 'DJ4_ag', 'DJ4_pr', 'DJ4_pt', 'DJ4_3', 'DE1_dg', 'DE1_ag', 'DE1_pr', 'DE1_pt', 'DE1_3', 'DE1_31', 'DE1_32', 'DE1_33', 'DE1_34', 'DE1_35', 'DE1_4', 'DE2_dg', 'DE2_ag', 'DE2_pr', 'DE2_pt', 'DC1_dg', 'DC1_ag', 'DC1_pr', 'DC1_pt', 'DC2_dg', 'DC2_ag', 'DC2_pr', 'DC2_pt', 'DC3_dg', 'DC3_ag', 'DC3_pr', 'DC3_pt']

4 ['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'cfam', 'genertn', 'allownc', 'house', 'live_t', 'ainc_unit1', 'ainc_1', 'ainc', 'marri_1', 'marri_2', 'fam_rela', 'tins', 'npins', 'ID_F', 'ID_M', 'D_1_1', 'D_2_1', 'D_2_wk', 'DI1_dg', 'DI1_ag', 'DI1_pr', 'DI1_pt', 'DI1_2', 'DI2_dg', 'DI2_ag', 'DI2_pr', 'DI2_pt', 'DI2_2', 'DI3_dg', 'DI3_ag', 'DI3_pr', 'DI3_pt', 'DI3_2', 'DI4_dg', 'DI4_pr', 'DI4_pt', 'DI5_dg', 'DI5_ag', 'DI5_pr', 'DI5_pt', 'DI6_dg', 'DI6_ag', 'DI6_pr', 'DI6_pt', 'DM1_dg', 'DM1_pr', 'DM1_pt', 'DM2_dg', 'DM2_ag', 'DM2_pr', 'DM2_pt', 'DM3_dg', 'DM3_ag', 'DM3_pr', 'DM3_pt', 'DJ2_dg', 'DJ2_ag', 'DJ2_pr', 'DJ2_pt', 'DJ4_dg', 'DJ4_ag', 'DJ4_pr', 'DJ4_pt', 'DJ4_3', 'DE1_dg', 'DE1_ag', 'DE1_pr', 'DE1_pt', 'DE1_3', 'DE1_31', 'DE1_32', 'DE1_33', 'DE1_34', 'DE1_35', 'DE1_4', 'DE2_dg', 'DE2_ag', 'DE2_pr', 'DE2_pt', 'DC1_dg', 'DC1_ag', 'DC1_pr', 'DC1_pt', 'DC2_dg', 'DC2_ag', 'DC2_pr', 'DC2_pt', 'DC3_dg', 'DC3_ag', 'DC3_pr', 'DC3_pt']

# CSV 파일 저장

In [243]:
csv_lst = []

for i in range(len(data_lst)):
    tmp = data_lst[i].iloc[:,0:108]
    csv_lst.append(tmp)

In [244]:
for i in range(5):
    print(i, list(csv_lst[i].columns))
    print()

0 ['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'cfam', 'genertn', 'allownc', 'house', 'live_t', 'ainc_unit1', 'ainc_1', 'ainc', 'marri_1', 'marri_2', 'fam_rela', 'tins', 'npins', 'ID_F', 'ID_M', 'D_1_1', 'D_2_1', 'D_2_wk', 'DI1_dg', 'DI1_ag', 'DI1_pr', 'DI1_pt', 'DI1_2', 'DI2_dg', 'DI2_ag', 'DI2_pr', 'DI2_pt', 'DI2_2', 'DI3_dg', 'DI3_ag', 'DI3_pr', 'DI3_pt', 'DI3_2', 'DI4_dg', 'DI4_pr', 'DI4_pt', 'DI5_dg', 'DI5_ag', 'DI5_pr', 'DI5_pt', 'DI6_dg', 'DI6_ag', 'DI6_pr', 'DI6_pt', 'DM1_dg', 'DM1_pr', 'DM1_pt', 'DM2_dg', 'DM2_ag', 'DM2_pr', 'DM2_pt', 'DM3_dg', 'DM3_ag', 'DM3_pr', 'DM3_pt', 'DJ2_dg', 'DJ2_ag', 'DJ2_pr', 'DJ2_pt', 'DJ4_dg', 'DJ4_ag', 'DJ4_pr', 'DJ4_pt', 'DJ4_3', 'DE1_dg', 'DE1_ag', 'DE1_pr', 'DE1_pt', 'DE1_3', 'DE1_31', 'DE1_32', 'DE1_33', 'DE1_34', 'DE1_35', 'DE1_4', 'DE2_dg', 'DE2_ag', 'DE2_pr', 'DE2_pt', 'DC1_dg', 'DC1_ag', 'DC1_pr', 'DC1_pt', 'DC2_dg', 'DC2_ag', 'DC2_pr', 'DC2_pt', 'DC3_dg', 'DC3_ag', 'DC3_pr', 'DC3_pt']

1 ['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'cfam', 'genertn', 'allownc', 'house', 'live_t', 'ainc_unit1', 'ainc_1', 'ainc', 'marri_1', 'marri_2', 'fam_rela', 'tins', 'npins', 'ID_F', 'ID_M', 'D_1_1', 'D_2_1', 'D_2_wk', 'DI1_dg', 'DI1_ag', 'DI1_pr', 'DI1_pt', 'DI1_2', 'DI2_dg', 'DI2_ag', 'DI2_pr', 'DI2_pt', 'DI2_2', 'DI3_dg', 'DI3_ag', 'DI3_pr', 'DI3_pt', 'DI3_2', 'DI4_dg', 'DI4_pr', 'DI4_pt', 'DI5_dg', 'DI5_ag', 'DI5_pr', 'DI5_pt', 'DI6_dg', 'DI6_ag', 'DI6_pr', 'DI6_pt', 'DM1_dg', 'DM1_pr', 'DM1_pt', 'DM2_dg', 'DM2_ag', 'DM2_pr', 'DM2_pt', 'DM3_dg', 'DM3_ag', 'DM3_pr', 'DM3_pt', 'DJ2_dg', 'DJ2_ag', 'DJ2_pr', 'DJ2_pt', 'DJ4_dg', 'DJ4_ag', 'DJ4_pr', 'DJ4_pt', 'DJ4_3', 'DE1_dg', 'DE1_ag', 'DE1_pr', 'DE1_pt', 'DE1_3', 'DE1_31', 'DE1_32', 'DE1_33', 'DE1_34', 'DE1_35', 'DE1_4', 'DE2_dg', 'DE2_ag', 'DE2_pr', 'DE2_pt', 'DC1_dg', 'DC1_ag', 'DC1_pr', 'DC1_pt', 'DC2_dg', 'DC2_ag', 'DC2_pr', 'DC2_pt', 'DC3_dg', 'DC3_ag', 'DC3_pr', 'DC3_pt']

2 ['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'cfam', 'genertn', 'allownc', 'house', 'live_t', 'ainc_unit1', 'ainc_1', 'ainc', 'marri_1', 'marri_2', 'fam_rela', 'tins', 'npins', 'ID_F', 'ID_M', 'D_1_1', 'D_2_1', 'D_2_wk', 'DI1_dg', 'DI1_ag', 'DI1_pr', 'DI1_pt', 'DI1_2', 'DI2_dg', 'DI2_ag', 'DI2_pr', 'DI2_pt', 'DI2_2', 'DI3_dg', 'DI3_ag', 'DI3_pr', 'DI3_pt', 'DI3_2', 'DI4_dg', 'DI4_pr', 'DI4_pt', 'DI5_dg', 'DI5_ag', 'DI5_pr', 'DI5_pt', 'DI6_dg', 'DI6_ag', 'DI6_pr', 'DI6_pt', 'DM1_dg', 'DM1_pr', 'DM1_pt', 'DM2_dg', 'DM2_ag', 'DM2_pr', 'DM2_pt', 'DM3_dg', 'DM3_ag', 'DM3_pr', 'DM3_pt', 'DJ2_dg', 'DJ2_ag', 'DJ2_pr', 'DJ2_pt', 'DJ4_dg', 'DJ4_ag', 'DJ4_pr', 'DJ4_pt', 'DJ4_3', 'DE1_dg', 'DE1_ag', 'DE1_pr', 'DE1_pt', 'DE1_3', 'DE1_31', 'DE1_32', 'DE1_33', 'DE1_34', 'DE1_35', 'DE1_4', 'DE2_dg', 'DE2_ag', 'DE2_pr', 'DE2_pt', 'DC1_dg', 'DC1_ag', 'DC1_pr', 'DC1_pt', 'DC2_dg', 'DC2_ag', 'DC2_pr', 'DC2_pt', 'DC3_dg', 'DC3_ag', 'DC3_pr', 'DC3_pt']

3 ['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'cfam', 'genertn', 'allownc', 'house', 'live_t', 'ainc_unit1', 'ainc_1', 'ainc', 'marri_1', 'marri_2', 'fam_rela', 'tins', 'npins', 'ID_F', 'ID_M', 'D_1_1', 'D_2_1', 'D_2_wk', 'DI1_dg', 'DI1_ag', 'DI1_pr', 'DI1_pt', 'DI1_2', 'DI2_dg', 'DI2_ag', 'DI2_pr', 'DI2_pt', 'DI2_2', 'DI3_dg', 'DI3_ag', 'DI3_pr', 'DI3_pt', 'DI3_2', 'DI4_dg', 'DI4_pr', 'DI4_pt', 'DI5_dg', 'DI5_ag', 'DI5_pr', 'DI5_pt', 'DI6_dg', 'DI6_ag', 'DI6_pr', 'DI6_pt', 'DM1_dg', 'DM1_pr', 'DM1_pt', 'DM2_dg', 'DM2_ag', 'DM2_pr', 'DM2_pt', 'DM3_dg', 'DM3_ag', 'DM3_pr', 'DM3_pt', 'DJ2_dg', 'DJ2_ag', 'DJ2_pr', 'DJ2_pt', 'DJ4_dg', 'DJ4_ag', 'DJ4_pr', 'DJ4_pt', 'DJ4_3', 'DE1_dg', 'DE1_ag', 'DE1_pr', 'DE1_pt', 'DE1_3', 'DE1_31', 'DE1_32', 'DE1_33', 'DE1_34', 'DE1_35', 'DE1_4', 'DE2_dg', 'DE2_ag', 'DE2_pr', 'DE2_pt', 'DC1_dg', 'DC1_ag', 'DC1_pr', 'DC1_pt', 'DC2_dg', 'DC2_ag', 'DC2_pr', 'DC2_pt', 'DC3_dg', 'DC3_ag', 'DC3_pr', 'DC3_pt']

4 ['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'cfam', 'genertn', 'allownc', 'house', 'live_t', 'ainc_unit1', 'ainc_1', 'ainc', 'marri_1', 'marri_2', 'fam_rela', 'tins', 'npins', 'ID_F', 'ID_M', 'D_1_1', 'D_2_1', 'D_2_wk', 'DI1_dg', 'DI1_ag', 'DI1_pr', 'DI1_pt', 'DI1_2', 'DI2_dg', 'DI2_ag', 'DI2_pr', 'DI2_pt', 'DI2_2', 'DI3_dg', 'DI3_ag', 'DI3_pr', 'DI3_pt', 'DI3_2', 'DI4_dg', 'DI4_pr', 'DI4_pt', 'DI5_dg', 'DI5_ag', 'DI5_pr', 'DI5_pt', 'DI6_dg', 'DI6_ag', 'DI6_pr', 'DI6_pt', 'DM1_dg', 'DM1_pr', 'DM1_pt', 'DM2_dg', 'DM2_ag', 'DM2_pr', 'DM2_pt', 'DM3_dg', 'DM3_ag', 'DM3_pr', 'DM3_pt', 'DJ2_dg', 'DJ2_ag', 'DJ2_pr', 'DJ2_pt', 'DJ4_dg', 'DJ4_ag', 'DJ4_pr', 'DJ4_pt', 'DJ4_3', 'DE1_dg', 'DE1_ag', 'DE1_pr', 'DE1_pt', 'DE1_3', 'DE1_31', 'DE1_32', 'DE1_33', 'DE1_34', 'DE1_35', 'DE1_4', 'DE2_dg', 'DE2_ag', 'DE2_pr', 'DE2_pt', 'DC1_dg', 'DC1_ag', 'DC1_pr', 'DC1_pt', 'DC2_dg', 'DC2_ag', 'DC2_pr', 'DC2_pt', 'DC3_dg', 'DC3_ag', 'DC3_pr', 'DC3_pt']

* 각 년도별

In [245]:
y = [2013,2014,2015,2016,2017]

for i in range(len(csv_lst)):
    name = "1_" + str(y[i]) + ".csv"
    csv_lst[i].to_csv(name, index = False)

* 전년도

In [253]:
all_data1 = pd.concat(csv_lst, axis=0, sort=False)

In [254]:
all_data1.to_csv("1_all.csv",index = False)

#### column 확인

In [249]:
col_check = []

for i in range(len(csv_lst)):
    col_check.append(list(csv_lst[i].columns))

In [259]:
print(col_check[0] == col_check[1])
print(col_check[1] == col_check[2])
print(col_check[2] == col_check[3])
print(col_check[3] == col_check[4])

True
True
True
True

In [130]:
# for i in range(len(data_lst)):
#     print(i, D8O_column[8] in list(data_lst[i].columns))

#     tmp = list(data_lst[i]['DI1_ag'].unique())
    
#     tmp.sort()
#     print(i, tmp)

0 False
1 False
2 False
3 False
4 False

#### 1_all column 확인

In [256]:
all = pd.read_csv("1_all.csv")

C:\Users\julia\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (90) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [257]:
all_c = list(all.columns)

In [258]:
all_c == col_check[1]

True